// The Rough Cuts - Styles
// =======================

@import 'compass/reset'
@import 'mixins'

*
  box-sizing: border-box

// Colours and grid
$spacing          : 10px
$background-color : black
$text-color       : white

// Font
$sans-serif: "museo-sans-condensed"
$serif: "rooney-web"

html, body
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow: hidden
  background: $background-color

body
  padding: $spacing*2
  white-space: nowrap

body>section
  +vendor-transition(all .25s ease-out)
  +vendor-filter(grayscale(100%) blur(1px))
  display: inline-block
  position: relative
  height: 100%
  margin-right: $spacing*2
  overflow-x: hidden
  cursor: pointer

  &:hover
    +vendor-filter(none)

  &:last-of-type
    margin-right: 0

  &:nth-child(1)
    +vendor-transition-delay(0)

  &:nth-child(2)
    +vendor-transition-delay(250ms)

  &:nth-child(3)
    +vendor-transition-delay(500ms)

.background
  position: absolute
  top: 0
  left: 0
  min-height: 100%
  min-width: 1024px
  width: 100%
  height: auto

.content
  position: absolute
  left: 50px
  top: 50px
  width: 400px
  padding: 20px
  white-space: normal
  background: rgba(black, .75)
  color: $text-color

.what-is

  h1
    margin-bottom: $spacing/2

  h2
    margin-bottom: $spacing*2

.talks

  .content
    max-height: 80%
    overflow-y: auto

  li
    margin-bottom: $spacing*2

    .author
      margin-bottom: $spacing
      font-family: $sans-serif
      font-size: 90%

form

  &>*
    margin-bottom: $spacing
    font-size: 1rem
    background: $text-color
    color: $background-color
    font-family: $sans-serif

  input, textarea
    width: 100%
    padding: $spacing/2
    resize: none
    border: none
    outline: none
    box-shadow: inset 1px 1px 1rem rgba(black, .4)

  textarea
    height: 6rem

  button
    padding: $spacing/2 $spacing
    margin-left: 0
    border: none

.go-home
  display: none
  position: absolute
  top: $spacing/2
  left: $spacing/2
  font-size: 1rem
  z-index: 2
  color: white
  border-bottom: 0
  text-shadow: 2px 2px 0 rgba(black, .5)
  font-family: $sans-serif
  font-weight: 900

// Type

a
  display: inline-block
  border-bottom: 1px dotted $text-color
  color: inherit
  text-decoration: none

h1
  margin-bottom: $spacing
  font-size: 3.1rem
  font-family: $sans-serif
  font-weight: 100
  text-transform: uppercase

h2
  font-family: $sans-serif
  font-size: 1.3rem
  font-weight: 900

p, li
  margin-bottom: $spacing
  font-size: 1rem
  line-height: 1.3
  font-family: $serif
  font-weight: 300

// ---

// The different states of the UI

body.what-is

  .what-is
    +vendor-filter(none)
    width: 100% !important
    cursor: auto

    .go-home
      display: block

body.talks

  .what-is
    width: 0 !important
    margin: 0

  .talks
    +vendor-filter(none)
    width: 100% !important
    cursor: auto

    .go-home
      display: block


body.contact

  .what-is, .talks
    width: 0 !important
    margin: 0

  .contact
    +vendor-filter(none)
    width: 100% !important
    cursor: auto

    .go-home
      display: block

// ---

// I've heard responsive is just making shit vertical instead of
// horizontal, AMIRITE??

@import 'responsive'

