// The Rough Cuts - Styles
// =======================

@import 'compass/reset'
@import 'mixins'

// Colours and grid
$spacing          : 10px
$background-color : black
$text-color       : white

// Font
$headings-font: 'museo-sans-condensed'

html, body
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow: hidden
  background: $background-color

body
  padding: $spacing*2
  white-space: nowrap

body>section
  +vendor-transition(all .25s ease-out)
  display: inline-block
  position: relative
  height: 100%
  margin-right: $spacing*2
  overflow: hidden

  &:last-of-type
    margin-right: 0

  &:nth-child(1)
    +vendor-transition-delay(0)

  &:nth-child(2)
    +vendor-transition-delay(250ms)

  &:nth-child(3)
    +vendor-transition-delay(500ms)

.background
  +vendor-filter(grayscale(100%))
  position: absolute
  top: 0
  left: 0
  min-height: 100%
  min-width: 1024px
  width: 100%
  height: auto

.content
  position: absolute
  left: 50px
  top: 50px
  width: 400px
  padding: 20px
  background: rgba(black, .75)
  color: $text-color

.what-is

  h1
    margin-bottom: $spacing/2

  h2
    margin-bottom: $spacing

// Type
h1
  margin-bottom: $spacing
  font-size: 2.9rem
  font-family: $headings-font
  font-weight: 100
  text-transform: uppercase

h2
  font-family: $headings-font
  font-size: 1.3rem

p
  font-weight: 300

