!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title The Rough Cuts
    %link(rel="stylesheet" href="/stylesheets/the-rough-cuts.css")
    %script(src="//use.typekit.net/frm0ijm.js")>
    %script
      try{Typekit.load();}catch(e){}
  %body

    %section.what-is
      %img.background(src="/images/mic.jpg")
      %section.content
        %h1 The Rough Cuts
        %h2
          A day of awesome talks, by awesome people.
        %p
          Held in Sydney somewhere absolutely fantastic,
          The Rough Cuts is an event designed to captivate the
          minds of young developers all around.
        %p
          Curated talks by super intelligent, hip, and good looking
          people on topics such as web development, hardware, security,
          and shit you will not believe your ears.

    %section.talks
      %img.background(src="/images/red-seats.jpg")
      %section.content
        %h1 Talks
        %h2
          Coming soon.

    %section.contact
      %img.background(src="/images/auditorium.jpg")
      %section.content
        %h1 Contact
        %h2
          Get in touch!
    %script(src="/javascripts/the-rough-cuts.js")
