!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title The Rough Cuts
    %link(rel="stylesheet" href="/stylesheets/the-rough-cuts.css")
    %script(src="//use.typekit.net/frm0ijm.js")>
    %script
      try{Typekit.load();}catch(e){}
  %body

    %section.what-is
      %img.background(src="/images/mic.jpg")
      %section.content
        %h1 The Rough Cuts
        %h2
          A day of awesome talks, by awesome people.
        %p
          Held in Sydney somewhere absolutely fantastic,
          The Rough Cuts is an event designed to captivate the
          minds of young developers all around.
        %p
          Curated talks by super intelligent, hip, and good looking
          people on topics such as web development, design,
          hardware, security, and shit you will not believe your ears.
        %p
          Date is yet to be set, but don't get comfortable as it
          might be sooner than you think.

    %section.talks
      %img.background(src="/images/red-seats.jpg")
      %section.content
        %h1 Talks
        %ul
          %li
            %h1 Taming Poneys — an odissey
            %p.author
              By Julio Ody
              (<a href="https://twitter.com/julio_ody">@julio_ody</a>)
            %p
              A tale of living in the wild and taming poneys
              for fun and profit.
          %li
            %h1 Hacking the Xbox 360 controller
            %p.author
              By Andrew Snow
              (<a href="https://twitter.com/andy_snow">@andy_snow</a>)
            %p
              How I got Android to run on my Xbox 360 controller
              and could SSH in to my VMs simply by pressing A+B.
          %li
            %h1 Telephones are so old school
            %p.author
              By Rob Howard
              (<a href="https://twitter.com/damncabbage">@damncabbage</a>)
            %p
              Do you use a telephone? You so don't get to hang
              with me and my buddies at Mecca.
          %li
            %h1 Open sourcing stuff and living on pennies
            %p.author
              By Mark Wotton
              (<a href="https://twitter.com/mwotton">@mwotton</a>)
            %p
              How I spent a year homeless but got to work on
              GitHub tickets and found true happiness.



    %section.contact
      %img.background(src="/images/auditorium.jpg")
      %section.content
        %h1 Contact
        %h2
          Get in touch!
    %script(src="/javascripts/the-rough-cuts.js")
