!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title The Rough Cuts
    %link(rel="stylesheet" href="/stylesheets/the-rough-cuts.css")
    %script(src="//use.typekit.net/frm0ijm.js")>
    %script
      try{Typekit.load();}catch(e){}
  %body
    %section.what-is
      %img.background(src="/images/mic.jpg")
      %section.content.explain
        %h1 The Rough Cuts
        %h2
          A day of awesome talks, by awesome people.

    %section.contact
    %section.talks
    %script(src="/javascripts/the-rough-cuts.js")
